  
 body{
 	color: #40514E;
 	margin: 0;
 	text-align: center;
 	font-family: 'Merriweather', serif;
 }

h1{
	color: #66BFBF;
	font-size:5.626rem;
	margin-top: 50px;
	font-family: 'Sacramento', cursive;
}

h2{
	color: #66BFBF;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	/*margin-bottom: 0px; */
}

h3{
	color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
a{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}
a:hover{
	color:#EAF6F6;
}

.topcontainer{
  	background-color: #E4F9F5;
  }
.middle-container{
	/*margin: 100px 0;*/
}
.bottom-container{
	background-color: #66BFBF;
	padding: 50px 0 20px;
}
.pro{
	text-decoration: underline;
}
.bottom-cloud{
	position:absolute;
	left:500px;
}
.mountain{
	margin-top: 90px;
	width:550px;
}
.top-cloud{
	margin-top:10px;
	position:relative;
	left:175px;
	top:25px;
}
.pic{
	border-radius:50%;
}
.chilly{
	width:25%;
	border-width:50%;
	float:right;
	margin-left: 30px;
}
.skill{
	width:25%;
	float:left;
	margin-right: 30px;
}
.py{
	padding-left:60px;
	padding-right:60px;
}
hr{
	border-style: none ;
	border-top-style: dotted;
	height: 0px;
	border-color: lightgrey;
	border-width:5px;
    width: 4%;
    margin: 50px auto;
}
.h{
	margin: 0px;
}
.c{
	color:#EAF6F6;
	font-size: 0.75rem;
	padding: 20px 0;
}

.skill-row{
	width:50%;
	margin: 0px auto 20px auto;
	text-align: left;
	line-height: 2;
}
.hi{
	margin-bottom: 0px;
}
.intro{
	width:30%;
	margin: auto;
}
p{
	line-height: 2;
}
.g{
	width: 40%;
	margin: 40px auto 60px; 
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: serif;
   font-size: 27px;
   font-weight:0;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 40px 10px #000000;
   -moz-box-shadow: 1px 1px 40px 10px #000000;
   box-shadow: 1px 1px 40px 10px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: double #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}